* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
  display: flex;
}

nav {
  display: block;
}

#hehe {
  display: flex;
  margin-left: auto;
}

h2 {
  color: black;
  font-size: 24px;
  font-family: sans-serif;
  margin-top: 20px;
}

#above {
  margin: auto;
  text-align: center;
}

.grid {
  display: flex;
}

h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}

#email {
  margin-bottom: 10px;
  width: 300px;
  margin-top: 20px;
}

#submit {
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
  background-color: #f1c40f;
  color: black;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 900;
}

#submit:hover {
  background-color: aqua;
}

.icon {
  height: 196px;
  width: 124px;
  text-align: right;
  margin-left: 10rem;
}

.icon > i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
  font-size: 3rem;
}

.more-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
  margin-left: 50px;
}

#video {
  display: block;
  margin: auto;
  height: 300px;
  width: 500px;
}

#header-img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#grid-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 2px solid #000;
  border-radius: 3px;
}

.each-price {
  background-color: rgb(58, 131, 221);
  color: black;
  padding: 15px 0;
  width: 90%;
  text-transform: uppercase;
  font-weight: 700;
  border: #000;
  text-align: center;
}

.box {
  background-color: #f1c40f;
  font-weight: 400;
}

button:hover {
  background-color: red;
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > a {
  display: flex;
  justify-content: flex-end;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0.1px;
  margin-inline-end: 0.1px;
  padding-inline-start: 40px;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
